.venv/
kagglehub_cache/
datasets/
models/

# frontend
frontend/pneumonia-detection-frontend-app/dist
frontend/pneumonia-detection-frontend-app/tmp
frontend/pneumonia-detection-frontend-app/out-tsc
frontend/pneumonia-detection-frontend-app/bazel-out

frontend/pneumonia-detection-frontend-app/node_modules
npm-debug.log
yarn-error.log

frontend/pneumonia-detection-frontend-app/.vscode/*
!frontend/pneumonia-detection-frontend-app/.vscode/settings.json
!frontend/pneumonia-detection-frontend-app/.vscode/tasks.json
!frontend/pneumonia-detection-frontend-app/.vscode/launch.json
!frontend/pneumonia-detection-frontend-app/.vscode/extensions.json
!frontend/pneumonia-detection-frontend-app/.vscode/mcp.json
frontend/pneumonia-detection-frontend-app/.history/*

frontend/pneumonia-detection-frontend-app/.angular/cache
frontend/pneumonia-detection-frontend-app/.sass-cache/
frontend/pneumonia-detection-frontend-app/connect.lock
frontend/pneumonia-detection-frontend-app/coverage
libpeerconnection.log
testem.log
frontend/pneumonia-detection-frontend-app/typings
frontend/pneumonia-detection-frontend-app/__screenshots__/

.DS_Store
Thumbs.db


__pycache__/
*.py[cod]
*.pyo
*.pyd

*.pth
*.pt

uploads/
db.json
*.log
